@font-face {
    font-family: 'Classico';
    src: url('ClassicoRegular.woff2') format('woff2'),
        url('ClassicoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Classico';
    src: url('ClassicoBold.woff2') format('woff2'),
        url('ClassicoBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Could Be Bloody';
    src: url('CouldBeBloody-Regular.woff2') format('woff2'), url('CouldBeBloody-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    